.loading-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:99999;
    backdrop-filter:blur(4px);
}

.loading-box{
    background:#17171b;
    padding:30px;
    border-radius:22px;
    text-align:center;
    width:280px;
    border:1px solid rgba(255,255,255,.08);
}

.loader{
    width:70px;
    height:70px;
    border:6px solid rgba(255,255,255,.15);
    border-top:6px solid #d4a437;
    border-radius:50%;
    animation:spin .8s linear infinite;
    margin:auto;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}

.loading-box h5{
    margin-top:18px;
    color:#fff;
    font-weight:700;
}

.loading-box p{
    color:#9ca3af;
    margin:0;
}

.success-circle{
    width:70px;
    height:70px;
    background:#16a34a;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:38px;
    color:#fff;
    animation:pop .35s;
}

@keyframes pop{
    0%{
        transform:scale(.3);
    }
    100%{
        transform:scale(1);
    }
}